 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  }
@* @using UserManagement.Domain.ViewModels; *@
@model List<UserManagement.Domain.Entities.User1> 
<h1> Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>ContactNumber</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.ContactNumber</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit </a>
                    </td>

                </tr>
            }
        </tbody>
     
</table>
